In [27]:
import requests
import json
import pandas as pd
from datetime import datetime

# Point to correct subgraph URL
url = 'https://api.thegraph.com/subgraphs/name/decentraland/marketplace'
#url = 'https://gateway.thegraph.com/api/[api-key]/subgraphs/id/0x89fddab2f93417182cdcdb0b8b3322b93ab3a192-0'
url2 = 'https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v2'

# initialize full_data for Query1 of Decentraland Dataset
df1_fulldata = pd.DataFrame()
df2_fulldata = pd.DataFrame()
df_data = pd.DataFrame()

for i in range(0,9) :
    # Set query (which uses text input to specify Decentraland data)
    query = '''query {
  orders(where:{status:sold, category: parcel}, orderBy: createdAt, orderDirection: asc, first:1000, skip: %s){
    id
    txHash
    price
    owner
    buyer
    status
    tokenId
    category
    createdAt
    nft{
      searchParcelX
      searchParcelY
    }
  }
}''' % (i*1000)


    # Make the request
    r = requests.post(url, json={'query': query})
    #print(r.status_code)
    #print(r.text)
    
    # JSON adjustment
    json_data = json.loads(r.text)
    
    # extract JSON to convert to a dataframe
    df_data = json_data['data']['orders']
    df1_fulldata = pd.DataFrame(df_data)
        
    df2_fulldata = pd.concat([df2_fulldata,df1_fulldata])
    

#Removing NULLS - Data Cleaning
df = df2_fulldata.dropna()

#print(df.isnull().values.any())
#print(df.isnull().sum().sum())

#Converting from Unix timestamp to datetime
df['createdAt'] = pd.to_datetime(df['createdAt'],unit='s')

#Splitting 'nft' column into 'x' and 'y'
df[['x','y']] = df.nft.apply(
  lambda z: pd.Series(str(z).split(",")))

df = df.drop(['nft'], axis=1)

#Removing extra data from columns : Cleaning
df['x'] = df['x'].map(lambda x: str(x)[19:-1])
df['y'] = df['y'].map(lambda y: str(y)[19:-2])

#Reducing 'Price' to usable int form in Mana (price/(10^18))
df['price_cut'] = df['price'].map(lambda y: str(y)[:-14])
df['price_cut'] = pd.to_numeric(df['price_cut'])
df['price_MANA'] = df['price_cut']/(10000)

#Extracting CreatedAt Date from Datetime
df['date'] = pd.to_datetime(df['createdAt']).dt.date

df1 = df.drop(['price','price_cut'], axis=1)

print(df1)

                                          buyer category           createdAt  \
0    0x1b39eafd09f501c863e05b71d9cf01adc7c39138   parcel 2018-10-11 19:57:58
1    0x17820aee2388abdbc81b4b407140016d50c086df   parcel 2018-10-12 01:56:40
2    0x5abdc3cb826fc0277d642c9fb52fa76fe3abb4e7   parcel 2018-10-12 02:20:57
3    0xc1a1a63c331fc442bbbd04f32b923f8aa5f9f954   parcel 2018-10-12 04:42:01
4    0x0ed1c03d04c1fbb33a0f25ef6147ab5a73d811a7   parcel 2018-10-12 05:22:18
..                                          ...      ...                 ...
995  0x54fd62c2a51de4e23e339c72c92436cf6387beac   parcel 2022-01-26 20:19:56
996  0xf179344bbec75ad4522bd6b2c780b2e13b3469a2   parcel 2022-01-26 20:55:33
997  0x4428a895806d7da2370f3375517fc1059339b7f1   parcel 2022-01-27 03:38:45
998  0x7166f69486c7a525d1305da41ca6e65991e85717   parcel 2022-01-27 06:16:13
999  0x5ce213893956bbf4249a7f8a079331280065eec6   parcel 2022-01-27 06:18:55

                                                    id  \
0    0xbc79ff3843d8678425df0e8b0a7b1a67688720b78a8b...
1    0xe6fc6d58527e16b47a5587f39f786cc5ec879857d1f4...
2    0x828c72c2d662942d1bd16986663ef1c42e8f6342cfbe...
3    0x9463c0aceb0c5f0a4884eedef9a2c03763b051ba5584...
4    0x5a9610e6490fd96b7ff7e125a05e691c3ad288d19488...
..                                                 ...
995  0x7e241ba5568e4172e09fb4708796b42c2b896edab099...
996  0x39a8cbe9691f2f902445fe8eaab4408c96c69e4b7f4d...
997  0xa25c43597668577a316233e46ca4b06d61e3196d736a...
998  0x52922d334639f7476ca1eb53237893bf3ada6fd27110...
999  0xd0237d730319f53e7feadfa60ed4c932df5f8ab65e71...

                                          owner status  \
0    0xb860111670b78f47a0c1b3a4838b8259a2197f25   sold
1    0x99a811e5c62add613975456292f836115aea0164   sold
2    0x3a1948c2993047abbf93b85ccce1f1ff983da65b   sold
3    0x86b7055acbc68d5ad604ee0fbf14a86370601807   sold
4    0x81e4fb0c64bf49f89b57f6648562fc9a791b2e92   sold
..                                          ...    ...
995  0xa01424b7540adbb792375dcf97b733a5d68ad347   sold
996  0x26611e4ee80bd5376a686fb00edc03c4e8840914   sold
997  0x3398f1c5f54ea76ef7fd00fb47f83aa009ec21ad   sold
998  0xf15d7066b78a4e969deefa1e4ca945212ddd3171   sold
999  0xe279c50f73a323490318421e468fa2fb28fa8914   sold

                                               tokenId  \
0    1157920892373161954235709850086879078294502189...
1    1157920892373161954235709850086879078025679119...
2    1157920892373161954235709850086879078086929945...
3            28924001188279769394386841631700297973621
4    1157920892373161954235709850086879078025679119...
..                                                 ...
995  1157920892373161954235709850086879078447629254...
996  1157920892373161954235709850086879078447629254...
997  1157920892373161954235709850086879078342141721...
998  1157920892373161954235709850086879078522491375...
999          18715530180651615490485603408747251630001

                                                txHash     x     y  \
0    0x6f83d5560c81276a2d9117c11cbeb9aa3a2a710fa961...   -70   145
1    0x1feac3e83983edf6c9be54c3d0cf1f97a902ea041a3c...  -150    -4
2    0x755a715b8abb8cc06ffd1675c21295f1407b586b9bae...  -132   -71
3    0x75908d5fa94db1cf3a9d2077620a1010ad728bbdf0dc...    84  -139
4    0x3e469f36d14e9e9badaf4fa3ee95a815b0b8335f0e59...  -150  -129
..                                                 ...   ...   ...
995  0xe35770d69f8562611f5b4fcc310cf00085b6905c4dcd...   -26  -123
996  0x74b03545cf5c8004202a75a632f496d72d60b0583ee5...   -26  -122
997  0xdc9477b2381e26ef48ff407d47d8fd1d46a9fdfb4f1a...   -56     6
998  0x1af05b6e8ee871e88c5e0a9390348f2011148a60b2b2...    -4  -122
999  0x3734e765df3810af5989b7cf31e3bab313860843e21f...    54   -79

     price_MANA        date
0       32000.0  2018-10-11
1       47500.0  2018-10-12
2       17450.0  2018-10-12
3       20000.0  2018-10-12
4       14899.0  2018-10-12
..          ...         ...
995      5969.0  2022-01-26
996      4000.0  2022-01-26
997      7000.0  2022-01-27
998      6940.0  2022-01-27
999      4999.0  2022-01-27

[9000 rows x 12 columns]

In [28]:
#Extracting data with USD prices for daily prices conversion from MANA to USD

# initialize full_data for Query2 of Prices dataset
df3_fulldata = pd.DataFrame()
df1_data = pd.DataFrame()

# Set query (which uses text input to specify USD data)
query = '''query {
  tokenDayDatas(where:{token:"0x0f5d2fb29fb7d3cfee444a200298f468908cc942"}, orderBy: date, orderDirection: desc, first: 1000){
    token{
      symbol
    }
    priceUSD
    date
  }
}'''

# Make the request
r = requests.post(url2, json={'query': query})
#print(r.status_code)
#print(r.text)
    
# JSON adjustment
json_data = json.loads(r.text)
    
# extract JSON to convert to a dataframe
df1_data = json_data['data']['tokenDayDatas']
df3_fulldata = pd.DataFrame(df1_data)

#Removing NULLS - Data Cleaning
df2 = df3_fulldata.dropna()

#Converting from Unix timestamp to datetime
df2['date'] = pd.to_datetime(df2['date'],unit='s')

#Removing extra data from columns : Cleaning
df2['token'] = df2['token'].map(lambda x: str(x)[12:-2])

print(df2)

    token                               priceUSD       date
0    MANA    2.751290858071162006463054971598042 2022-02-23
1    MANA    2.641774203382024684484727812060281 2022-02-22
2    MANA    2.539409613838052042619624222447455 2022-02-21
3    MANA    2.728778533661602839800365732348586 2022-02-20
4    MANA    2.872108087149710793272651669382348 2022-02-19
..    ...                                    ...        ...
642  MANA  0.03994886997362385134304507643947843 2020-05-22
643  MANA  0.03659038590872996396210342513692342 2020-05-21
644  MANA  0.03765596530492163298229213491053662 2020-05-20
645  MANA   0.0365052011167876893752711366962339 2020-05-19
646  MANA                                      0 2020-05-18

[647 rows x 3 columns]

In [29]:
df1['date']=df1['date'].astype('datetime64')
df2['priceUSD'] = pd.to_numeric(df2['priceUSD'])
df1['price_MANA'] = pd.to_numeric(df1['price_MANA'])
print(df1.dtypes)
print(df2.dtypes)

buyer                 object
category              object
createdAt     datetime64[ns]
id                    object
owner                 object
status                object
tokenId               object
txHash                object
x                     object
y                     object
price_MANA           float64
date          datetime64[ns]
dtype: object
token               object
priceUSD           float64
date        datetime64[ns]
dtype: object

In [30]:
#Left join on the above 2 dataframes based on 'Date'
df = pd.merge(df1, df2[['priceUSD', 'date']], on='date', how='left')

#Calculating price in USD based on daily USD rate
df['price_USD'] = df['priceUSD'] * df['price_MANA']
df.sort_values(by=['createdAt'], inplace=True, ascending=False)

print(df)

                                           buyer category           createdAt  \
8999  0x5ce213893956bbf4249a7f8a079331280065eec6   parcel 2022-01-27 06:18:55
8998  0x7166f69486c7a525d1305da41ca6e65991e85717   parcel 2022-01-27 06:16:13
8997  0x4428a895806d7da2370f3375517fc1059339b7f1   parcel 2022-01-27 03:38:45
8996  0xf179344bbec75ad4522bd6b2c780b2e13b3469a2   parcel 2022-01-26 20:55:33
8995  0x54fd62c2a51de4e23e339c72c92436cf6387beac   parcel 2022-01-26 20:19:56
...                                          ...      ...                 ...
4     0x0ed1c03d04c1fbb33a0f25ef6147ab5a73d811a7   parcel 2018-10-12 05:22:18
3     0xc1a1a63c331fc442bbbd04f32b923f8aa5f9f954   parcel 2018-10-12 04:42:01
2     0x5abdc3cb826fc0277d642c9fb52fa76fe3abb4e7   parcel 2018-10-12 02:20:57
1     0x17820aee2388abdbc81b4b407140016d50c086df   parcel 2018-10-12 01:56:40
0     0x1b39eafd09f501c863e05b71d9cf01adc7c39138   parcel 2018-10-11 19:57:58

                                                     id  \
8999  0xd0237d730319f53e7feadfa60ed4c932df5f8ab65e71...
8998  0x52922d334639f7476ca1eb53237893bf3ada6fd27110...
8997  0xa25c43597668577a316233e46ca4b06d61e3196d736a...
8996  0x39a8cbe9691f2f902445fe8eaab4408c96c69e4b7f4d...
8995  0x7e241ba5568e4172e09fb4708796b42c2b896edab099...
...                                                 ...
4     0x5a9610e6490fd96b7ff7e125a05e691c3ad288d19488...
3     0x9463c0aceb0c5f0a4884eedef9a2c03763b051ba5584...
2     0x828c72c2d662942d1bd16986663ef1c42e8f6342cfbe...
1     0xe6fc6d58527e16b47a5587f39f786cc5ec879857d1f4...
0     0xbc79ff3843d8678425df0e8b0a7b1a67688720b78a8b...

                                           owner status  \
8999  0xe279c50f73a323490318421e468fa2fb28fa8914   sold
8998  0xf15d7066b78a4e969deefa1e4ca945212ddd3171   sold
8997  0x3398f1c5f54ea76ef7fd00fb47f83aa009ec21ad   sold
8996  0x26611e4ee80bd5376a686fb00edc03c4e8840914   sold
8995  0xa01424b7540adbb792375dcf97b733a5d68ad347   sold
...                                          ...    ...
4     0x81e4fb0c64bf49f89b57f6648562fc9a791b2e92   sold
3     0x86b7055acbc68d5ad604ee0fbf14a86370601807   sold
2     0x3a1948c2993047abbf93b85ccce1f1ff983da65b   sold
1     0x99a811e5c62add613975456292f836115aea0164   sold
0     0xb860111670b78f47a0c1b3a4838b8259a2197f25   sold

                                                tokenId  \
8999          18715530180651615490485603408747251630001
8998  1157920892373161954235709850086879078522491375...
8997  1157920892373161954235709850086879078342141721...
8996  1157920892373161954235709850086879078447629254...
8995  1157920892373161954235709850086879078447629254...
...                                                 ...
4     1157920892373161954235709850086879078025679119...
3             28924001188279769394386841631700297973621
2     1157920892373161954235709850086879078086929945...
1     1157920892373161954235709850086879078025679119...
0     1157920892373161954235709850086879078294502189...

                                                 txHash     x     y  \
8999  0x3734e765df3810af5989b7cf31e3bab313860843e21f...    54   -79
8998  0x1af05b6e8ee871e88c5e0a9390348f2011148a60b2b2...    -4  -122
8997  0xdc9477b2381e26ef48ff407d47d8fd1d46a9fdfb4f1a...   -56     6
8996  0x74b03545cf5c8004202a75a632f496d72d60b0583ee5...   -26  -122
8995  0xe35770d69f8562611f5b4fcc310cf00085b6905c4dcd...   -26  -123
...                                                 ...   ...   ...
4     0x3e469f36d14e9e9badaf4fa3ee95a815b0b8335f0e59...  -150  -129
3     0x75908d5fa94db1cf3a9d2077620a1010ad728bbdf0dc...    84  -139
2     0x755a715b8abb8cc06ffd1675c21295f1407b586b9bae...  -132   -71
1     0x1feac3e83983edf6c9be54c3d0cf1f97a902ea041a3c...  -150    -4
0     0x6f83d5560c81276a2d9117c11cbeb9aa3a2a710fa961...   -70   145

      price_MANA       date  priceUSD     price_USD
8999      4999.0 2022-01-27  2.234147  11168.503288
8998      6940.0 2022-01-27  2.234147  15504.983561
8997      7000.0 2022-01-27  2.234147  15639.032410
8996      4000.0 2022-01-26  2.134032   8536.127943
8995      5969.0 2022-01-26  2.134032  12738.036923
...          ...        ...       ...           ...
4        14899.0 2018-10-12       NaN           NaN
3        20000.0 2018-10-12       NaN           NaN
2        17450.0 2018-10-12       NaN           NaN
1        47500.0 2018-10-12       NaN           NaN
0        32000.0 2018-10-11       NaN           NaN

[9000 rows x 14 columns]

In [31]:
df.to_excel(r'C:\2021_NehalPersonal\Project\Decentraland_LATEST.xlsx', sheet_name='Data', index = False)